rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /logos/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    // Add other rules for other paths if needed
  }
}
